a{
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: bold;
}

.card {
    border : 0px;
}

.thumbnail {
    height: 170px;
}

.keywordLink {
    text-decoration: underline;
    cursor: pointer
}